{#
/**
 * @file
 * Bartik's theme implementation to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 *
 * @see template_preprocess_maintenance_page()
 */
 #}

<div id="rw_maint_container">

    <div class="rw_maint_redscreen">
                
        
        <img class="rw_maint_logo" src="/images/large_white_rw_logo_stacked.png"></img>


        
        
    </div>
</div>

