{#
/**
 * @file
 * Bartik's theme implementation to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 *
 * @see template_preprocess_maintenance_page()
 */
 #}

<div id="rw_maint_container">

    <div class="rw_maint_redscreen">
                
        
        <img class="rw_maint_logo" src="https://rimwrapz.com/sites/default/files/2019-10/santa_and_rw_logo.png" style="margin-top:30vh;width:50vw;min-width:300px;"></img>

        
    </div>
    
            <a href="info@rimwrapz.com" style="display: block;position: relative;color: white;width: 65vw;margin-top:35px;margin-left: auto;margin-right:auto;">Web site will be up very soon for holiday ordering. Email any questions to info@rimwrapz.com.</a>

</div>

